# This file contains the direct dependencies required for building the docs
# To install them all run 'pip install -r requirements.txt' in the same directory

mkdocs == 1.6.1
mkdocs-material == 9.6.23
mkdocs-redirects == 1.2.2
