name: Lint and Publish to wiki.t2linux.org
on:
    push:
        branches:
            - master

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: xt0rted/markdownlint-problem-matcher@v3
            - name: "Run Markdown linter"
              uses: docker://avtodev/markdown-lint:v1
              with:
                  args: docs/**/*.md
    deploy:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout master
              uses: actions/checkout@v5

            - name: Deploy docs
              uses: mhausenblas/mkdocs-deploy-gh-pages@1.26
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CUSTOM_DOMAIN: wiki.t2linux.org
                  EXTRA_PACKAGES: build-base
