name: Lint and Publish to wiki.t2linux.org
on:
    push:
        branches:
            - master
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: xt0rted/markdownlint-problem-matcher@v3
            - name: "Run Markdown linter"
              uses: docker://avtodev/markdown-lint:v1
              with:
                  args: docs/**/*.md
    deploy:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
          - uses: actions/configure-pages@v5
          - uses: actions/checkout@v6
          - uses: actions/setup-python@v6
            with:
              python-version: 3.x
          - run: pip install zensical
          - run: zensical build --clean
          - run: bash -c "echo 'wiki.t2linux.org' > build/CNAME"
          - run: bash -c "cp -r redirs/* build/guides"
          - uses: actions/upload-pages-artifact@v4
            with:
              path: build
          - uses: actions/deploy-pages@v4
